<!DOCTYPE html>
<html class="has-navbar-fixed-top" prefix="og: http://ogp.me/ns#">

<head>
  {{- partial "header.html" . }}
</head>

<body>
  {{- partial "navbar.html" . -}}

  <div class="columns">
    <div class="column is-one-fifth is-hidden-mobile">
      {{ block "localnav" . }}
      {{ end }}
    </div>

    <div class="column">
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}

      <section class="section" id="comment-section">
        <script src="https://utteranc.es/client.js" repo="ChrisLasar/StartupLibComments" issue-term="pathname" theme="github-light"
          crossorigin="anonymous" async>
          </script>
      </section>
    </div>

    <div class="column is-one-fifth is-hidden-touch">
      {{ block "sidetoc" . }}
      {{ end }}
    </div>
  </div>

  <footer class="footer has-background-grey-lighter">
    <div class="content has-text-centered">
      {{ partial "footer.html" . }}
    </div>
  </footer>

  {{ partial "scripts.html" . }}

</body>

</html>