{{ define "main" }}
<h1 class="title is-1">{{ .Title }}</h1>

<div class="content">
  {{ .Content }}

  {{ range .Pages }}
  <h2><a href="{{ .URL }}">{{ .Title }}</a></h2>
  {{ .Summary }}

  {{ end }}

</div>
{{ end }}


{{ define "sidetoc" }}
<!--empty-->
{{ end }}