{{ define "main" }}

<section class="section">
    <h1 class="title is-1">{{ .Title }}</h1>

    <div class="content">
        {{ .Content }}
    </div>
</section>

{{ end }}

{{ define "sidetoc" }}
<!--empty for now-->
{{ end }}