<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}</title>
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"-->

{{ $options := (dict "targetPath" "/css/bulma.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $bulmastyle := resources.Get "css/bulma/sass/mystyles.scss" | resources.ToCSS $options }}

<link rel="stylesheet" href="{{ $bulmastyle.RelPermalink }}">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<script src="https://unpkg.com/magic-grid/dist/magic-grid.min.js"></script>

{{ partial "custom-header.html" . }}

<!-- Custom styles for this template -->
<!-- link rel="stylesheet" href="{{ "/sticky-footer.css" | relURL}}" -->

<meta name="twitter:card" content="summary">
</meta>
<meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
{{ template "_internal/opengraph.html" . }}

{{- with .Params.bpmn }}
{{- $image_file := resources.Get (printf "%s%s" . ".png") }}
{{- $image := $image_file.Fill "1200x627" }}
<meta property="og:image" content="http://startup-lib.com{{ $image.RelPermalink }}" />
<meta property="og:image:secure_url" content="{{ $image.Permalink }}" />
<meta property="twitter:image" content="{{ $image.Permalink }}" />
{{- end }}


<!-- Favicons -->
<link rel="apple-touch-icon" href={{ "/apple-touch-icon.png" | relURL }}>
<link rel="icon" href={{ "/favicon.ico" | relURL }}>