{{/* To mark the current entry active */}}
{{/* $active_home := "" }}
{{ $active_doc := "" }}
{{ $active_posts := "" }}
{{ $active_books := "" }}

{{ if (or (findRE "^/doc/" .URL) (findRE "^/processcardviews/entrypoint/" .URL)) }}
{{ $active_doc = "active" }}
{{ else if (findRE "^/posts/" .URL) }}
{{ $active_posts = "active" }}
{{ else if (findRE "^/books" .URL) }}
{{ $active_books = "active" }}
{{ else }}
{{ $active_home = "active" }}
{{ end */}}

<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}/">
            <img src="/images/logo_opt.svg">
        </a>
        {{/* Start Trick: Still show most important link on breakpoints below tablet, but hide this with tablet or
        larger*/}}
        <div class="navbar-item is-hidden-tablet is-paddingless">
            <a class="navbar-link is-arrowless" href="/processcardviews/entrypoint/">Process Doc</a>
        </div>
        {{/* End trick */}}
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless" href="/processcardviews/entrypoint/">Process Doc</a>
                <div class="navbar-dropdown is-hidden-tablet">
                    <a class="navbar-item" href="/doc/introduction/">
                        Introduction
                    </a>
                    <a class="navbar-item" href="/processcardviews/entrypoint/">
                        Entry Points
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/doc/processes/">
                        Processes
                    </a>
                    <a class="navbar-item" href="/doc/tasks/">
                        Tasks
                    </a>
                    <a class="navbar-item" href="/doc/procedures/">
                        Procedures
                    </a>
                    <a class="navbar-item" href="/doc/work_products/">
                        Work Products
                    </a>
                </div>
            </div>

            <a class="navbar-item" href="/books">
                Books
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/about">
                        About
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end is-mobile">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">
                    <span class="icon">
                        <i class="fab fa-twitter"></i>
                    </span>
                </a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="https://twitter.com/intent/tweet?{{ (querify "text" "Look what I have found:" "url" .Permalink ) | safeURL }}">
                        Tweet this page</a>
                    <a class="navbar-item" href="https://twitter.com/intent/user?screen_name=LibStartup">
                        Follow @LibStartup
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">
                    <span class="icon">
                        <i class="fab fa-linkedin-in"></i>
                    </span>
                </a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="https://www.linkedin.com/shareArticle?{{ (querify "mini" true "url" .Permalink ) | safeURL }}">
                        Share this page</a>
                    <a class="navbar-item" href="https://www.linkedin.com/company/startup-lib/">
                        Follow on LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="level is-mobile has-background-black is-hidden-tablet">
    <!-- Left side -->
    <!--div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            posts
          </p>
        </div>
      </div-->

    <div class="level-item">
        <a href="https://twitter.com/intent/tweet?{{ (querify "text" "Look what I have found:" "url" .Permalink ) | safeURL }}">
            <span class="icon has-text-white">
                <i class="fab fa-twitter"></i>
            </span>
        </a>
    </div>
    <div class="level-item">
        <a href="https://www.linkedin.com/shareArticle?{{ (querify "mini" true "url" .Permalink ) | safeURL }}">
            <span class="icon has-text-white">
                <i class="fab fa-linkedin-in"></i>
            </span>
        </a>
    </div>
    <!-- Right side -->
    <div class="level-right">
        <div class="level-item has-text-grey-light">
            More
            <span class="icon">
                <i class="fas fa-hand-point-right" data-fa-transform="rotate--65 up-3"></i>
            </span>
        </div>
    </div>
</nav>