{{ $carouselImage1 := resources.Get "images/landing/boss-brainstorming-business-1093913.jpg" }}
{{ $carouselImage2 := resources.Get "images/landing/adult-book-business-297755.jpg" }}
{{ $carouselImage3 := resources.Get "images/landing/adult-bar-brainstorming-1015568.jpg" }}

{{/* Sizes inspired by Tesla Website*/}}
{{ $carouselImage1_large := $carouselImage1.Fill "2880x1800 q50" }}
{{ $carouselImage1_medium := $carouselImage1.Fill "1440x900 q50" }}
{{ $carouselImage1_small := $carouselImage1.Fill "750x1334 Left q50" }}

{{ $carouselImage2_large := $carouselImage2.Fill "2880x1800 q50" }}
{{ $carouselImage2_medium := $carouselImage2.Fill "1440x900 Left q50" }}
{{ $carouselImage2_small := $carouselImage2.Fill "750x1334 q50" }}

{{ $carouselImage3_large := $carouselImage3.Fill "2880x1800 q50" }}
{{ $carouselImage3_medium := $carouselImage3.Fill "1440x900 Top q50" }}
{{ $carouselImage3_small := $carouselImage3.Fill "750x1334 Center q50" }}



<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    {{- partial "header.html" . }}

    <style>
        .has-bg-img1 {
            background: url('{{ $carouselImage1_large.RelPermalink }}') 30% 10%;
            background-size: cover;
        }

        @media(max-width: 1200px) {
            .has-bg-img1 {
                background: url('{{ $carouselImage1_medium.RelPermalink }}') 30% 10%;
                background-size: cover;
            }
        }

        @media(max-width: 639px) {
            .has-bg-img1 {
                background: url('{{ $carouselImage1_small.RelPermalink }}') 0% 10%;
                background-size: cover;
            }
        }

        .has-bg-img2 {
            background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
            url('{{ $carouselImage2_large.RelPermalink }}') 50% 50%;
            background-size: cover;
        }

        @media(max-width: 1200px) {
            .has-bg-img2 {
                background: linear-gradient(rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)),
                url('{{ $carouselImage2_medium.RelPermalink }}') 30% 50%;
                background-size: cover;
            }
        }

        @media(max-width: 639px) {
            .has-bg-img2 {
                background: linear-gradient(rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)),
                url('{{ $carouselImage2_small.RelPermalink }}') 50% 40%;
                background-size: cover;
            }
        }

        .has-bg-img3 {
            background: url('{{ $carouselImage3_large.RelPermalink }}') 50% 50%;
            background-size: cover;
        }

        @media(max-width: 1200px) {
            .has-bg-img3 {
                background: url('{{ $carouselImage3_medium.RelPermalink }}') 50% 35%;
                background-size: cover;
            }
        }

        @media(max-width: 639px) {
            .has-bg-img3 {
                background: url('{{ $carouselImage3_small.RelPermalink }}') 50% 40%;
                background-size: cover;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar is-fixed-top is-link" role=" navigation" aria-label="main navigation">
        {{ partial "navbar.html" . }}
    </nav>

    <section class="hero is-link is-fullheight-with-navbar has-bg-img2" id="early">
        <div class="hero-body">
            <div class="container">
                <p class="title is-2">
                    Early Start&#8209;ups
                </p>
                <p class="subtitle is-3">
                    Making your first steps a bit easier.
                </p>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="is-active"><a href="#early">Early</a></li>
                        <li class="has-text-white"><a href="#growing">Growing</a></li>
                        <li class="has-text-white"><a href="#corporate">Corporate</a></li>
                        <li class="has-text-white has-background-info"><a href="/processcardviews/entrypoint/">Process</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <div class="column is-three-fifths">
                        <div class="content">
                            <p>
                                Every first step is difficult.
                                And you may not have the professional support you need most during the first few
                                months.
                                Business processes are optimized to support even new talents flawlessly in their early
                                stages.
                                You should be able to concentrate on one question: How does my business work?
                                We would like to help you with all other questions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="hero is-link is-fullheight-with-navbar has-bg-img3" id="growing">
        <div class="hero-body">
            <div class="container">
                <p class="title is-2">
                    Growing Start&#8209;ups
                </p>
                <p class="subtitle is-3">
                    Cope with the additional challenges that come with a growing start&#8209;up.
                </p>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="has-text-white"><a href="#early">Early</a></li>
                        <li class="is-active"><a href="#growing">Growing</a></li>
                        <li class="has-text-white"><a href="#corporate">Corporate</a></li>
                        <li class="has-text-white has-background-info"><a href="/processcardviews/entrypoint/">Process</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <div class="column is-three-fifths">
                        <div class="content">
                            <p>
                                Certainly we can learn more from you than you can from us.
                                And we are looking forward for any support.
                            </p>
                            <p>
                                With a growing start&#8209;up you face new challenges.
                                You have to teach new employees.
                                Your culture becomes more diverse, but you stop speaking the same language.
                                Wouldn't it be great if at least the development of your business was based on a common
                                palace of thoughts?
                                This is exactly what we would like to build with you.
                                In a uniform, simple and structured language. In other words, with the help of
                                processes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-link is-fullheight-with-navbar has-bg-img1" id="corporate">
        <div class="hero-body">
            <div class="container">
                <p class="title is-2">
                    Corporate Start&#8209;ups
                </p>
                <p class="subtitle is-3">
                    Empower your middle management
                </p>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="has-text-white"><a href="#early">Early</a></li>
                        <li class="has-text-white"><a href="#growing">Growing</a></li>
                        <li class="is-active"><a href="#corporate">Corporate</a></li>
                        <li class="has-text-white has-background-info"><a href="/processcardviews/entrypoint/">Process</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <div class="column is-one-fifth">
                        <div class="content">
                            Support your middle management to feel confident with the new way of doing business.
                            Give
                            them clear guardrails.
                        </div>
                    </div>
                    <div class="column is-three-fifths">
                        <div class="content is-small">
                            <p>
                                Jeanne Liedtka wrote in her <a href="https://hbr.org/2018/09/why-design-thinking-works">Havard
                                    Business Review article on "Why Design Thinking Works"</a>:
                            </p>
                            <blockquote>
                                <i>Experienced designers often complain that design thinking is too structured and
                                    linear.
                                    And for them, that’s certainly true. But managers on innovation teams generally are
                                    not
                                    designers and
                                    also aren’t used to doing face-to-face research with customers, getting deeply
                                    immersed
                                    in their
                                    perspectives, co-creating with stakeholders, and designing and executing
                                    experiments.
                                    Structure and
                                    linearity help managers try and adjust to these new behaviors.</i>
                            </blockquote>

                            <p>We want to do for innovation, what design thinking did for design.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer has-background-grey-lighter">
        <div class="content has-text-centered">
            {{ partial "footer.html" . }}
        </div>
    </footer>

    {{ partial "scripts.html" . }}

</body>

</html>